.sectionBar{
    padding-top:0.5em; 
    // display: flex;
    // flex-flow: row;
    // justify-content: space-between;
    // width: 100%;
}
.sectionBar > a:nth-child(1)>button{
    color: #A457DE;
}

.sectionBar > a:nth-child(2)>button{
    color: #00BB84;
}

.sectionBar > a:nth-child(3)>button{
    color: #FF4E50;
}

.sectionBar > a{
    text-decoration: none;
    transition: ease-in;
}


.sectionBar > a{
    opacity: 0.4;
}
.selectedLink{
    opacity: 1!important;
}

