.sectionBar{
    padding-top:0.5em; 
    // display: flex;
    // flex-flow: row;
    // justify-content: space-between;
    width: 100%;
}
.sectionBar > button:nth-child(1){
    color: #A457DE;
}

.sectionBar > button:nth-child(2){
    color: #00BB84;
}

.sectionBar > button:nth-child(3){
    color: #FF4E50;
}

.sectionBar > button{
    text-decoration: none!important;
    transition: ease-in;
}


.sectionBar > button:not(.active){
    opacity: 0.4;
}

